<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Notification</title>

    <style type="text/css">
        .tg {
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0px auto;
        }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            word-break: normal;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            word-break: normal;
        }

        .tg .tg-0pky {
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }

        @media screen and (max-width: 767px) {
            .tg {
                width: auto !important;
            }

            .tg col {
                width: auto !important;
            }

            .tg-wrap {
                overflow-x: auto;
                -webkit-overflow-scrolling: touch;
                margin: auto 0px;
            }
        }</style>
</head>
<body>
{% set protocol = cdn_enabled == 1 ? 'http:' : drupal_token('site:url') %}
<div class="tg-wrap">
    <table class="tg">
        <tr>
            <td class="tg-0pky" colspan="2">
                <img src="{{ protocol ~ 'public://default_images/email_banner.gif'|image_style('email_banner') }}"
                     class="templateImage" alt="email_banner">
            </td>
        </tr>
        <tr>
            <td class="tg-0lax" colspan="2">
                {% set manyAdverts = adverts|length > 1 ? true : false %}
                <h3>Interesting advert{% if manyAdverts %}s{% endif %} from {{ drupal_token('site:name') }}</h3>

                <h4>Dear {{ recipient }}, </h4>

                <p>You receive this email because you have subscribed to alerts from {{ drupal_token('site:url') }}. Please find below the latest properties matching your selection:</p>
            </td>
        </tr>
        {% for advert in adverts %}
            <tr>
                <td class="tg-0pky">
                    {% if advert.field_advert_picture is not empty %}
                        <img src="{{ protocol ~ advert.field_advert_picture.0.entity.uri.value|image_style('scaled_90x90') }}"
                             class="templateImage" alt="advertImage"/>
                    {% else %}
                        <img src="{{ protocol ~ 'public://default_images/no_img.png'|image_style('scaled_90x90') }}"
                             class="templateImage" alt="noImage"/>
                    {% endif %}
                </td>
                <td class="tg-0pky">
                    <p id="titleId">
                        <a href="{{ drupal_url('node/' ~ advert.id, {absolute: true}) }}">{{ advert.title.value|capitalize }}</a>
                        - Ref: <span>{{ advert.field_advert_reference.value }}</span> -
                        <span>{{ advert.field_advert_price.value }} {{ advert.field_advert_currency.value|upper }}</span><br/>
                        {{ advert.field_advert_district.entity.name.value }}, {{ advert.field_advert_sector.value }}
                        <br/>
                        {{ advert.field_advert_property_type.value|capitalize }}
                        for {{ advert.field_advert_type.value|field_label }}, {{ advert.field_advert_type.value|field_raw }}
                    </p>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td class="tg-0pky" colspan="2">
                <p>Best regards, <br>
                    {{ drupal_token('site:name') }} <br>
                    {{ drupal_token('custom_token:phone') }}</p>
            </td>
        </tr>
        <tr>
            <td class="tg-0pky" colspan="2">
                <small><i>Not looking for properties anymore?</i> <a href="{{ drupal_token('site:url') }}/unsubscribe/{{ sid }}">Unsubscribe here</a></small>
            </td>
        </tr>
    </table>
</div>
</body>
</html>