<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expiration</title>
</head>
<body>
    <h3>Adverts expiring today: {{ date }}</h3>
    <table align="center" border="1" cellpadding="5" cellspacing="0" width="100%" style="height:100%;">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Number of views</th>
            <th>Contact person</th>
        </tr>
        </thead>
        <tbody>
        {% for key, advert in counted_adverts %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ drupal_url('node/' ~ advert.id, {absolute: true}) }}">{{ advert.title.value }}</a>
                </td>
                {# Split key into 2 and take the second part #}
                {% set index = key|split('_', 2) %}
                <td>{{ index[1] }}</td>
                <td>{{ advert.field_visit_contact_name.value }} <br>
                    Tel: {{ advert.field_visit_cellphone.value }} <br>
                    Email: {{ advert.field_visit_email_address1.value }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>